<div class="col-6 mt-5">
    <h1 class="text-center">Ajout d'un ticket</h1>
    <form action="/litemvc/create_ticket" method="POST" >
       
        <div class="mt-5">
            <label for="title" >Titre du ticket </label>
            <input type="text" id="title" name="title" class="form-control" required>   
        </div>
        <div class="mt-5">
            <label for="content" >Titre du ticket </label>
            <input type="text" id="content" name="content" class="form-control" required>   
        </div>
        <div class="mt-5">
            <button type="submit" class="btn btn-primary" >Créer le ticket</button>
        </div>
    </form>
</div>
<div class="col-6">

</div>